@import "../../styles/variables.scss";

.profile {
  &__field {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    & + & {
      border-top: 1px solid $line;
    }
  }

  &__input {
    width: 100%;
    text-align: right;
    color: $gray-text;
    &[name="avatar"] {
      margin-left: 217px;
    }
    &-label {
      min-width: 180px;
    }
  }
}
