$main-text: #1e1e1e;
$gray-text: #999;
$blue: #3369f3;
$red-text: #f00;
$alert: #ff2f2f;
$white: #fff;
$dialogue-bg: #fbfbfb;
$line: #eaeaea;
$dialogue-bg-fields: #efefef;
$message-bg: #f8f8f8;
$message-my-bg: #e4edfd;
$shadow: rgb(0 0 0 / 14%);
