$main-text: #1e1e1e;
$gray-text: #999999;
$blue: #3369f3;
$red-text: #ff0000;
$alert: #ff2f2f;
$white: #ffffff;
$dialogue-bg: #fbfbfb;
$line: #eaeaea;
$dialogue-bg-fields: #efefef;
$message-bg: #f8f8f8;
$message-my-bg: #e4edfd;
$shadow: rgba(0, 0, 0, 0.14);
